@model Flowers_API.Models.Flowers
@{
    ViewData["Title"] = "Add Flowers";
    
}
<form asp-controller="Flowers" method="post">
    <div>
        <label asp-for="FlowerId">FlowerID</label>
        <input asp-for="FlowerId" />
 
    </div>
    <div>
        <label asp-for="FlowerName">Flower Name</label>
        <input asp-for="FlowerName" />
        <span asp-validation-for="FlowerName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="FlowerColor"></label>
        <input asp-for="FlowerColor" />
        <span asp-validation-for="FlowerColor" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="FlowerSeason"></label>
        <input asp-for="FlowerSeason" />
        <span asp-validation-for="FlowerSeason" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="FlowerArea"></label>
        <input asp-for="FlowerArea" />
        <span asp-validation-for="FlowerArea" class="text-danger"></span>
    </div>

    <div>
        <button type="submit">Add Flowers</button>
        <a href="/Flowers/Index"></a>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
