@model Flowers_API.Models.Flowers
@{
    ViewData["Title"] = "Edit flowers"; 
}

<form asp-controller="Flowers" method="post" asp-action="EditFlowerss">
    <div>
        <label asp-for="FlowerId"></label>
        <input type="hidden" asp-for="FlowerId" />
    </div>
    <div>
        <label asp-for="FlowerName"></label>
        <input asp-for="FlowerName" />
    </div>
    <div>
        <label asp-for="FlowerColor"></label>
        <input asp-for="FlowerColor" />
    </div>
    <div>
        <label asp-for="FlowerSeason"></label>
        <input asp-for="FlowerSeason" />
    </div>

    <div>
        <label asp-for="FlowerArea"></label>
            <input asp-for="FlowerArea" />
    </div>

    <div>
        <button type="submit">Edit Flowers</button>
        <a href="/Flowers/Index"></a>
    </div>
</form>
